@font-face {
    font-family: SFFedoraTitles;
    src: url(./fonts/SFFedoraTitles.ttf);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
    color: #fff;
    background-color: #000;
    font-family: "Verdana";
}

h1 {
    margin-top: 0px;
    font-size: 38pt;
    font-family: SFFedoraTitles;
}

h3 {
    font-size: 16pt;
    font-family: SFFedoraTitles;
}

h4 {
    font-size: 14pt;
    font-family: SFFedoraTitles;
}

#container {
    width: 100%;
    height: 100%;
}

#content {
    position: relative;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
}

#inner_content {
    width: 100%;
    position: absolute;
}

.content_div_left {
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.content_div_right {
    float: right;
    margin-right: 20px;
    text-align: right;
    margin-top: 30px;
}

.news_title, .technews_title {
    font-weight: bold;
}
